#border{
	border-style: solid;
	border-color:blue;
	background:yellow;
	border-width:1px;
}
#second{
	background:red;
	border-style: solid;
	border-color:blue;
	border-width:1px;
	
}
#third{
	background:green;
	border-width:1px;
	border-style: solid;
	border-color:blue;
}
